/* Main CSS */

body.body{
    width:100%;
    height:100%;
    font-family:Arial;
    font-size:16px;
    /* background-color: #330000; */
    /* color:#FFEBEF; */
}

/*
.navbar-nav {
    margin: 7.5px -15px !important;
}
*/

i.bi, #search {
    color:black;
}

i#home-bi-house {
    font-size: 1.5em;
}

header.image-header{
    height:7em;
    color:white;
    background-image: url('https://images.pexels.com/photos/1629212/pexels-photo-1629212.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    border: 1px solid transparent;
}


nav.navbar{
    font-size: large;
}

/* Put your CSS below */

.bg-light-blue{
    background-color: rgb(240, 248, 255);
  }

.module-wrap-gradient {
    background: -webkit-linear-gradient(left, #8BBAF5, #0D54AF);
  }

a.nav-link.link-secondary:hover { 
    color: #0D54AF;
    background: #8BBAF5; 
} 
