<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>
<head>
  <title>Importation</title>
    <!-- css -->
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styleAnita.css}">
</head>

<body class="body">

  <div class="limit">
    <div class="login-container">
      <div class="bb-login">
        <form class="bb-form validate-form" th:action="@{/addNewFile}" method="post" th:object="${fiche}"> <span class="bb-form-title p-b-26"> Importer une fiche de révision </span>
          <span class="bb-form-title p-b-48"> <i class="mdi mdi-symfony"></i> </span>
          
          <input type="hidden" th:value="${author.userId}" name="userId"/>
          
          <label class="form-label">Titre</label>
          <input class="form-control" type = "text" name = "title"></input><br>

          <label class="form-label">Abstract</label>
          <textarea class="form-control" rows="3" name = "abstractText"></textarea><br>

          <label class="form-label">Matière</label>
          <input class="form-control" type = "text" name = "field"></input><br>
          
          <label class="form-label">Niveau d'études</label>
          <select name="level" class="form-control">
            <option value="1">Bac+1</option>
            <option value="2">Bac+2</option>
            <option value="3">Bac+3</option>
            <option value="4">Bac+4</option>
            <option value="5">Bac+5</option>
            <option value="6">>Bac+5</option>
          </select><br>

          <div class="mb-3">
            <label for="formFile" class="form-label">Télécharger le fichier PDF</label>
            <input class="form-control" type="file" id="formFile" name = "pdfFile"><br>
          </div>

          <div class="login-container-form-btn">
            <div class="bb-login-form-btn">
              <div class="bb-form-bgbtn"></div> <button class="bb-form-btn"> Importer </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>


</body>

</html>