<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/header :: header"></div>
<head>
    <title>Connexion</title>
    <!-- css -->
    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styleAnita.css}">
    <!-- JavaScript -->
    <script type="text/javascript" src="/script/script.js"></script>
</head>

<body class="body">

    <div class="limit">
               <h3 th:utext="${message}" class="text-primary m-2 text-center"></h3>
        <div class="login-container">
            <div class="bb-login">
                <form class="bb-form validate-form" action="/login" th:action="@{/login}" th:object="${user}" method="post"> <span class="bb-form-title p-b-26"> Bienvenue </span><br> <span
                        class="bb-form-title p-b-48"> <i class="mdi mdi-symfony"></i> </span>
                    <div class="wrap-input100 validate-input" data-validate="Valid email is: a@b.c"> <input
                            class="input100" type="text" name="email"> <span class="bbb-input"
                            data-placeholder="Email"></span> </div>
                    <div class="wrap-input100 validate-input" data-validate="Enter password"> <span
                            class="btn-show-pass"> <i class="mdi mdi-eye show_password"></i> </span> <input
                            class="input100" type="password" name="password"> <span class="bbb-input"
                            data-placeholder="Mot de passe"></span> </div>
                    <div class="login-container-form-btn">
                        <div class="bb-login-form-btn">
                            <div class="bb-form-bgbtn"></div> <button class="bb-form-btn"> Connexion </button>
                        </div>
                    </div>
                    <div class="text-center p-t-115"> <a class="txt1"
                        th:href="@{/register}"> Inscrivez-vous ! </a>   </div>
                </form>
            </div>
        </div>
    </div>

</body>

</html>